@font-face{
	font-family: "ms-extrabold";
	src: url("fonts/Montserrat/Montserrat-ExtraBold.ttf");
}

@font-face{
	font-family: "raleway-t";
	src: url("fonts/Raleway/Raleway-T.ttf");
}

@font-face{
	font-family: "raleway-r";
	src: url("fonts/Raleway/Raleway-R.ttf");
}


@font-face{
	font-family: "merriweather";
	src: url("fonts/MerriweatherSans-Regular.ttf");
}

@font-face{
	font-family: "heading";
	src: url("fonts/FredokaOne-Regular.ttf");
}

@font-face{
	font-family: "subheading";
	src: url("fonts/Comfortaa-Regular.ttf");
}

@font-face{
	font-family: "ibm";
	src: url("fonts/ibm.ttf");
}

@font-face{
	font-family: "ibm-light";
	src: url("fonts/IBM_Plex_Sans/IBMPlexSans-Thin.ttf");
}

@font-face{
	font-family: "naming";
	src: url("fonts/mg.ttf");
}

/* Keyframes */

@keyframes move-twink-back {
    from {
    	background-position: 0 0;
    }

    to {
    	background-position: -10000px 5000px;
    }
}

@keyframes raise{
	from{
		margin-bottom: 2vh;
	}
	to{
		margin-bottom: 4vh;
	}
}

@keyframes fadein{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes hl{
	from{
		margin-bottom: 0vh;
		border-bottom: 2px solid var(--bg);
	}
	to{
		margin-bottom: 2vh;
		border-bottom: 2px solid var(--contrast);
	}
}

@keyframes spin {
  0% { 
  	transform: rotate(0deg); 
  }
  100% { 
  	transform: rotate(360deg); 
  }
}

html::-webkit-scrollbar {
	display: none;
}

html{
	scroll-behavior: smooth;
	/*--bg: #171717;*/
	--bg: #F3F4F8;
	--font: #36454f;
	/*--bg: #0d0f1a;*/
	/*--bg : #242424;*/
	/*--contrast: #C41E3A;
	--contrast: white;*/
	/*--contrast: #f2c600;*/
	/*--contrast: #deac21;*/
	--contrast: #8c1c36;
}

body {
	/*background: linear-gradient(90deg, rgba(62,128,222,1) 19%, rgba(0,202,255,1) 100%);*/
	background: var(--bg);
	color: var(--font);
	padding: 0;
	margin: 0;
	font-family: "ibm";
	overflow-x: hidden;
	animation: fadein 2s;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: var(--contrast); 
}

#topbar{
	/*background: var(--bg);*/
	background-color: var(--bg);
	color: var(--font);
	height: 7vh;
	width: 100vw;
	font-size: 2vh;
	position: absolute;
	top: 3vh;
	left: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	font-weight: bold;
	/*outline: 1px solid white;*/
}

#name-header{
	font-family: "naming";
	background: var(--bg);
	color: #333333;
	height: 4vh;
	width: auto;
	position: absolute;
	top: 3vh;
	left: 0;
	z-index: 2;
	margin-left: 7vw;
	padding: 2vh;
	font-size: 1.5vw;
}

.link{
	display: inline-block;
	padding: 2vh;
	margin-right: 0.5vh;
	text-decoration: none;
	color: var(--font);
}

.link:hover{
	animation: hl 0.5s forwards;
	cursor: pointer;
}

#navbar-spacer{
	width: 5vw;
}

#container{
	width: 100vw;
	height: 100vh;
	z-index: -1;
	/*background: var(--bg);*/
	/*background: url("images/bg");*/
	background-position: center;
	background-size: cover;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

#content{
	font-family: "ibm", sans-serif;
	display: inline-block;
	color: #505050;
	font-size: 1vw;
	height: auto;
}

#name-description{
	width: 70%;
	font-size: 2vh;
}

#emphasis{
	font-family: "ms-extrabold", sans-serif;
	color: var(--font);
	font-size: 3.2vw;
	font-weight: 1000;
}

#name{
	width: 35vw;
	display: inline-block;
}

#picture{
	width: 35vw;
	height: 100vh;

	/* Need this for image */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* Need this for background */
	/*background-image: url(images/me.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 75%, 75%;*/
}

/* Need this for image */
#picture > img{
	width: 60vh;
	height: 60vh;
	border-radius: 50%;
}

#about{
	width: 100vw;
	text-align: center;
	font-weight: lighter;
}
ul{
	list-style: none;
}
ul li::before{
	content: attr(data-icon);
	font-size: 1.25em;
}

.heading{
	position: relative;
	margin-top: 5vh;
}

.rheading{
	position: relative;
	margin-top: 5vh;
}

#about-title, #projects-title{
	position: relative;
	font-family: "raleway-r";
	text-align: left;
	display: inline-flex;
	width: 70vw;
	font-size: 2.5vw;
	padding: 0.1vh;
	/*font-weight: lighter;*/
}

#about-subtitle, #projects-subtitle{
	font-family: "raleway-r", sans-serif;
	text-align: left;
	display: inline-block;
	width: 70vw;
	font-size: 1.2vw;
	color: grey;
}

#exp-subtitle{
	font-family: "raleway-r", sans-serif;
	text-align: right;
	display: inline-block;
	width: 70vw;
	font-size: 1.2vw;
	color: grey;
}

#about-content {
	text-align: left;
	display: inline-block;
	width: 70vw;
	font-size: 1.1vw;
	/*font-weight: lighter;*/
}


#projects {
	text-align: center;
}

#exp-title{
	font-family: "raleway-r";
	text-align: right;
	display: inline-flex;
	width: 70vw;
	height: auto;
	font-size: 2.5vw;
	padding: 0.1vh;
	justify-content: flex-end;
}

#exp{
	height: auto;
	width: 100vw;
	text-align: center;
	font-weight: lighter;
}

.exp-item{
	display: inline-flex;
	height: auto;
	width: 70vw;
}

.exp-pic{
	width: 50%;
	text-align: right;
	margin: 2vh;
}

.exp-desc{
	width: 30%;
	text-align: left;
	margin: 2vh;
	font-size: 1.6vh;
}

.desc-title{
	font-family: "raleway-r";
	font-weight: bold;
	color: var(--contrast);
	font-size: 1.4vw;
}

.desc-subtitle{
	font-size: 1vw;
	color: grey;
}

.desc-image{
	height: 16vw;
	width: 24vw;
	margin-right: 2vw;
}

.desc-location{
	font-size: 1vw;
	color: grey;
}

.projects-row{
	display: inline-flex;
	justify-content: space-between;
	/*align-items: center;*/
	width: 70vw;
	/*height: auto;*/
	font-weight: lighter;
}

.projects-row a {
	font-weight: bold;
}

.projects-item{
	width: 35vw;
	box-shadow: 0 0.45vh 0.45vh rgba(0, 0, 0, 0.3);
	border-radius: 1vh;
	margin: 2vh;
	display: block;
}

.projects-image{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	width: 100%;
	height: 28vh;
	background: #43C3A5;
	margin-bottom: 1vh;
	border-radius: 1vh;
}

.projects-image > img {
	width: 40%;
}

.projects-desc{
	margin: auto;
	text-align: left;
	width: 80%;
	height: auto;
	color: var(--font);
	font-size: 1.75vh;
}

.project-heading{
	font-size: 2.5vh;
	color: var(--contrast);
}

.project-subheading{
	font-size: 1.75vh;
	color: grey;
}

/*FUN FACTS CSS*/
#ff {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	text-align: center;
}

.ff-item {
	display: flex;
	width: 30%;
	border-radius: 1%;
  box-shadow: 0 0.35vh 0.35vh rgba(0, 0, 0, 0.3);
  background: white;
  text-align: center;
}

.grad {
	background: linear-gradient(45deg, #7f7fd5, #86a8e7, #91eae4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.grad > img {
	margin: 1vh;
	width: 5vh;
	height: 5vh;
}

.ff-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding: 0.5vh;
}

.contact-row{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	height: auto;
	width: 70%;
}


.social{
	text-align: left;
	color: white;
	font-weight: lighter;
}

.handle{
	color: grey;
}

.icon{
	z-index: 1;
	height: 6vh;
	width: 6vh;
	background-size: cover;
	margin-right: 2vh;
}

#ghub{
	background-image: url(images/ghub.png);
}

#linkedin{
	background-image: url(images/lkn.png);
}

#email{
	background-image: url(images/mail.png);
}

#footer{
	text-align: center;
	font-size: 1.5vh;
	width: 100%;
	height: 7vh;
	font-weight: lighter;
}

#footer-content{
	display: inline-block;
	color: grey;
}

.skills-row{
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2vh;
}


#warning-container{ 
	background-color: var(--bg);
	height: 100vh;
	width: 100vw;
	/*text-align: center;*/
	color: black;
	display: none; 
	text-align: center;
}

#warning{
	/*display: inline-block;*/
	margin: auto;
}

@media only screen and (orientation:portrait) {
	#wrapper { 
		display:none; 
	}

	#warning-container { 
		display:grid; 
	}
}

@media only screen and (orientation:landscape) {
	#warning-container { 
		display:none; 
	}
}


